@tailwind base;
@tailwind components;
@tailwind utilities;

@source "../../src/**/*.rs";

.empty\:hidden:empty { display: none; }
.peer:invalid ~ .peer-invalid\:hidden { display: none; }
.aria-selected\:outline-black[aria-selected="true"] { outline: 2px dotted black; }