<turbo-frame id="people_{{pagination.page}}" class="hidden">
  {% for person in records %}
  <div class="flex flex-shrink-0">
    <div class="flex items-center flex-grow w-0 h-10 px-2 border-b border-l border-black">
      <span>{{ person.0|e }}</span>
    </div>
    <div class="flex items-center flex-grow w-0 h-10 px-2 border-b border-l border-black">
      <span>{{ person.1|e }}</span>
    </div>
    <div class="flex items-center flex-grow w-0 h-10 px-2 border-b border-l border-black">
      <span>{{ person.2|e }}</span>
    </div>
  </div>
  {% endfor %}
  {% match pagination.next_page(records) %}
  {% when Some with (next_page) %}
  <turbo-frame id="people_{{next_page}}" loading="lazy" src="/people?page={{next_page}}&per_page={{pagination.per_page}}">
  </turbo-frame>
  {% when None %}
  {% endmatch %}
</turbo-frame>
