{% extends "base.html" %}

{% block title %}Typeahead Search Example{% endblock %}

{% block content %}
<header data-controller="typeahead--combobox">
  <form action="/typeahead-search/results"
        data-turbo-frame="search_results"
        data-controller="typeahead--search"
        data-action="invalid->typeahead--search#hideValidationMessage:capture input->typeahead--search#submit"
        class="peer">
    <label for="search_query">Query</label>
    <input id="search_query"
           name="query"
           type="search"
           pattern=".*\w+.*"
           required
           autocomplete="off"
           data-typeahead--combobox-target="input"
           data-action="focus->typeahead--combobox#start focusout->typeahead--combobox#stop">
    <input id="turbo_frame" type="hidden" name="turbo_frame" value="search_results" />
    <button data-typeahead--search-target="submit">
      Search
    </button>

    <turbo-frame id="search_results" target="_top" class="empty:hidden peer-invalid:hidden"></turbo-frame>
  </form>
</header>
<main>

</main>
{% endblock %}
